<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>The
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> taught us a lot. 
	We did lots of things to learn
	<a href="http://rubyonrails.org/">Ruby on Rails</a>.
	This is the final project.
</p>
