<% provide(:title, 'Board Showing') %>
<h3>Welcome<h3>
<div class="row">
  <aside class="span4">
    <section>

    </section>
  </aside>
</div>
<p>
	<%= link_to "Sign out", signout_path, method: "delete", 
                              class: "btn btn-large btn-primary" %>
</p>
